
img {
    max-width:100%;
    height:auto;
    display:block;
}

h1 {
    text-align: center;
    width: 100%;
    position: relative;
    top:50px;
}
li {
    display: inline-block;
}

header {
  background-color: #466995;
  border-bottom: 1px solid #466995;
  position:fixed;
  width:100%;
  z-index:10;
}

.index {
    text-align: center;
}

#table1 {
    border-color:black;
    border-style: solid;
    table-layout: auto;
    width: 75%;
    position: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#table2 {
    border-color:black;
    border-style: solid;
    table-layout: auto;
    width: 75%;
    position: center;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
}

#t2text {
    text-align: justify;
    overflow-wrap: normal;
   
}

th {
    background-color: gray;
}

th, td {
    padding: 15px;
  }

tbody .html {
    background-color: green;
}

tr:hover {
    background-color: white;
    opacity: 75%;
}


td {
    padding:1%;
}

tbody .css {
    background-color: orange;
}

tbody .js {
    background-color: orange;
}

tbody .php {
background-color: orangered;
}

tbody .mysql {
    background-color: orangered;
}

tbody .css:hover {
    background-color: white;
    opacity: 75%;
}

tbody .js:hover {
    background-color: white;
    opacity: 75%;
}

tbody .php:hover {
    background-color: white;
    opacity: 75%;
}

tbody .mysql:hover {
    background-color: white;
    opacity: 75%;
}

#profilepic {
    width: 20%;
    height: 20%;
    margin-top: 5%;
}

.small-image {
    width: 240px;
    height: 320px;
}

.heading1 {
    background-color: orange;
}

.heading2 { 
    background-color: gold;
}

.heading3 {
    background-color: grey;
}

.banner {
    background-image: url(./banner.jpg);
    height:5em;

}