*{
    box-sizing: border-box;
}


body{
margin:0;
} 

nav{
    position: fixed;/*fixes teh nav bar to the position on the page - will move down with scrol*/
    top: 0; /* fixes nav bar to top of the page*/
    left: 0; /* fixes nav bar to left of the page*/
    width: 100px;
    height: 50%;
    padding-top: 25%;
    
    display: flex; /* make the nav a flex box*/
    flex: 0 0 40px;
    flex-direction: column; /* makes the content of the box flow vertically*/
    justify-content: space-around; /*aligns the content of the box to the center*/
    align-items: center;
}



nav a {
    display: inline-block;
    text-decoration: none;
    padding:5px 10px;
    background-color: aquamarine;
    padding-top: 10%;
    padding-bottom: 10%;
}

nav a:hover{
color: blue;
}

main {
    margin-left: 100px;
    padding:10px;
}




/*this this the css for area containing information about the equipment for hire*/

#music-equip {
display: flex;
position: relative;
flex-direction: column;

    background-color: coral;
}
.container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1 1 auto;
    padding-top: 50px;
}

.equip-details {
    display: flex;
}

.equip-img { 
    width: 300px;
    padding-left: 5%;
}

.equip-description {
    flex: 1 1 auto;
    display:flex;
    flex-direction: column;
    padding-left: 10%;
   
}

/*styles for container 2*/
.container-two {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    flex: 1 1 auto;
    padding-top: 50px;
}

.equip-img2 {
    width: 300px;
    padding-right: 5%;
    order:2;
}


/*footer styles*/

footer {
    position: relative;
    bottom:0;
    width: 100%;
    height: 150px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: blueviolet;
}
/* these styles from old nav attempt use some settings when sorting out the design
 ul{
     
    list-style-type: none;
    /* 4-5 Flips the text vertical and side ways down page
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    flex-wrap: nowrap;
    position: relative;


    flex-flow: row nowrap;
    justify-content: center;
    
    background-color: antiquewhite;
   
    
}

li {
    margin: 1vw 0;
    background-color: aquamarine;
    flex: 0 0 auto;
}

li:nth-child(1){
    margin-right:auto;
}
/* used to order list items - wanted to be used specifcally for nav need to find method of targeting single element
li:nth-child(odd){
    order:1;
}*/

a {text-decoration:none;} 
